#win10html *{
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', 'Arial';
}
#win10html{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
#win10html .mainscreen{
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
#win10html .lockscreen{
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

#win10html .mainscreen .desktop{
    position: absolute;
    top: 0px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    background: #000000 url('./media/wallpapers.png') no-repeat fixed center; 
}
#win10html .mainscreen .taskbar{
    position: absolute;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000;
}
#win10html .mainscreen .taskbar .windows{
    float: left;
    display: inline-block;
    height: 40px;
    width: 50px;
    left: 0px;
    background: #000000 url('./media/windows2.png') no-repeat center;
    background-size: 18px 18px; 
}
#win10html .mainscreen .taskbar .windows:hover{
    background: #222222 url('./media/windows2_active.png') no-repeat center;
    background-size: 20px 20px; 
    /* #9CD6FF */
}
#win10html .mainscreen .taskbar .programs{
    height: 40px;
    position: static;
    background-color: #000;
    overflow: hidden;
    margin-left: 50px;
}
#win10html .mainscreen .taskbar .rightpanel{
    float: right;
    display: inline-block;
    height: 40px;
    position: static;
    padding: 0px;
}
#win10html .mainscreen .taskbar .rightpanel > div{
    height: 40px;
    display: inline-block;
    background-color: #000;
    position: static;
    float: right;
}
#win10html .mainscreen .taskbar .rightpanel > div:hover{
    background-color: #222;
}
#win10html .mainscreen .taskbar .rightpanel .showdesktop{
    width: 10px;
}
#win10html .mainscreen .taskbar .rightpanel .datetime{
    padding-right: 5px;
    padding-left: 5px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
#win10html .mainscreen .taskbar .rightpanel .language{
    padding-right: 5px;
    padding-left: 5px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
#win10html .mainscreen .taskbar .rightpanel .notifications{
    width: 25px;
    background: #000000 url('./media/notification.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .volume{
    width: 25px;
    background: #000000 url('./media/volume.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .wifi{
    width: 25px;
    background: #000000 url('./media/wifi2.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .battery{
    width: 25px;
    background: #000000 url('./media/battery.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .expand{
    width: 25px;
    background: #000000 url('./media/expand.png') no-repeat center;
    background-size: 15px 15px;
}

#win10html .mainscreen .taskbar .programs .prog{
    height: 40px;
    position: static;
    display: inline-block;
    width: 40px;
    background-color: #000;
    float: left;
}
#win10html .mainscreen .taskbar .programs .prog.opened{
    width: 200px;
}
#win10html .mainscreen .taskbar .programs .prog:hover{
    background-color: #222222;
}
#win10html .mainscreen .taskbar .programs .prog > .icon{
    /* position: static; */
    float: left;
    height: 40px;
    width: 40px;
    /* background-color: #000000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}
#win10html .mainscreen .taskbar .programs .prog:hover > .icon{
    /* position: static; */
    float: left;
    height: 40px;
    width: 40px;
    background-size: 20px 20px;
}
#win10html .mainscreen .taskbar .programs .prog > .title{
    /* position: static; */
    display: none;
    float: left;
    height: 40px;
    width: 160px;
    margin-left: 40px;
    line-height: 40px;
    text-align: left;
    color: #fff;
    font-size: 13px;
}
#win10html .mainscreen .taskbar .programs .prog.opened > .title{
    display: inline-block;
}