#win10html *{
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', 'Arial';
}
#win10html{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
#win10html .mainscreen{
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#win10html .lockscreen{
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}

#win10html .mainscreen .desktop{
    position: absolute;
    top: 0px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    background: #000000 url('./media/wallpapers.png') no-repeat fixed center;
    z-index: 2;
}
#win10html .mainscreen .taskbar{
    position: absolute;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000;
    z-index: 4;
}
#win10html .mainscreen .taskbar .windows{
    float: left;
    display: inline-block;
    position: static;
    height: 40px;
    width: 50px;
    left: 0px;
    background: #000000 url('./media/windows2.png') no-repeat center;
    background-size: 20px 20px; 
}
#win10html .mainscreen .taskbar .windows:hover{
    background: #222222 url('./media/windows2_active.png') no-repeat center;
    background-size: 20px 20px; 
    /* #9CD6FF blue systemcolor */
}
#win10html .mainscreen .taskbar .search{
    float: left;
    display: inline-block;
    position: static;
    height: 40px;
    width: 50px;
    left: 0px;
    background: #000000 url('./media/search.png') no-repeat center;
    background-size: 20px 20px; 
}
#win10html .mainscreen .taskbar .search:hover{
    background: #222222 url('./media/search.png') no-repeat center;
    background-size: 20px 20px; 
    /* #9CD6FF blue systemcolor */
}
#win10html .mainscreen .taskbar .taskview{
    float: left;
    display: inline-block;
    position: static;
    height: 40px;
    width: 50px;
    left: 0px;
    background: #000000 url('./media/taskview.png') no-repeat center;
    background-size: 20px 20px; 
}
#win10html .mainscreen .taskbar .taskview:hover{
    background: #222222 url('./media/taskview_active.png') no-repeat center;
    background-size: 20px 20px; 
    /* #9CD6FF blue systemcolor */
}
#win10html .mainscreen .taskbar .programs{
    height: 40px;
    position: static;
    background-color: #000;
    overflow: hidden;
}
#win10html .mainscreen .taskbar .rightpanel{
    float: right;
    display: inline-block;
    height: 40px;
    position: static;
    padding: 0px;
}
#win10html .mainscreen .taskbar .rightpanel > div{
    height: 40px;
    display: inline-block;
    background-color: #000;
    position: static;
    float: right;
}
#win10html .mainscreen .taskbar .rightpanel > div:hover{
    background-color: #222;
}
#win10html .mainscreen .taskbar .rightpanel .showdesktop{
    width: 10px;
}
#win10html .mainscreen .taskbar .rightpanel .datetime{
    padding-right: 5px;
    padding-left: 5px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
#win10html .mainscreen .taskbar .rightpanel .language{
    padding-right: 5px;
    padding-left: 5px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
#win10html .mainscreen .taskbar .rightpanel .notifications{
    width: 25px;
    background: #000000 url('./media/notification.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .volume{
    width: 25px;
    background: #000000 url('./media/volume.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .wifi{
    width: 25px;
    background: #000000 url('./media/wifi2.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .battery{
    width: 25px;
    background: #000000 url('./media/battery.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .author{
    width: 25px;
    background: #000000 url('./media/author.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .taskbar .rightpanel .expand{
    width: 25px;
    background: #000000 url('./media/expand.png') no-repeat center;
    background-size: 15px 15px;
}

#win10html .mainscreen .taskbar .programs .prog{
    height: 40px;
    position: static;
    display: inline-block;
    width: 40px;
    background-color: #000;
    float: left;
}
#win10html .mainscreen .taskbar .programs .prog.opened{
    width: 170px;
}
#win10html .mainscreen .taskbar .programs .prog:hover{
    background-color: #222222;
}
#win10html .mainscreen .taskbar .programs .prog > .icon{
    float: left;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}
#win10html .mainscreen .taskbar .programs .prog:hover > .icon{
}
#win10html .mainscreen .taskbar .programs .prog > .title{
    display: none;
    float: left;
    height: 40px;
    width: 130px;
    margin-left: 40px;
    line-height: 40px;
    text-align: left;
    color: #fff;
    font-size: 13px;
}
#win10html .mainscreen .taskbar .programs .prog.opened > .title{
    display: inline-block;
}

#win10html .mainscreen .desktop .window.opened{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
}
#win10html .mainscreen .desktop .window{
    display: none;
}

#win10html .mainscreen .desktop .window .header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 25px;
    background-color: #bbb;
}
#win10html .mainscreen .desktop .window .header .icon{
    position: static;
    float: left;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}
#win10html .mainscreen .desktop .window .header .name{
    position: static;
    float: left;
    line-height: 25px;
    font-size: 15px;
}
#win10html .mainscreen .desktop .window .header .rightbuttons{
    position: static;
    float: right;
    height: 25px;
}
#win10html .mainscreen .desktop .window .header .rightbuttons > div{
    width: 40px;
    position: static;
    float: left;
    height: 25px;
}
#win10html .mainscreen .desktop .window .header .rightbuttons .minimize{
    background: #bbb url('./media/window_minimize.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .desktop .window .header .rightbuttons .minimize:hover{
    background-color: #999;
}
#win10html .mainscreen .desktop .window .header .rightbuttons .close{
    background: #bbb url('./media/window_close.png') no-repeat center;
    background-size: 15px 15px;
}
#win10html .mainscreen .desktop .window .header .rightbuttons .close:hover{
    background-color: #ff8080;
}

#win10html .mainscreen .startmenu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 40px;
    left: 0px;
    z-index: 3;
    width: 50%;
    min-width: 742px;
    height: 65%;
    background-color: #000;
    transform: translateY(50px);
    transition: transform 0.05s linear, opacity 0.05s linear, visibility 0.05s step-end;
}
#win10html .mainscreen .startmenu.opened{
    visibility: visible;
    transform: translateY(0px);
    opacity: 0.9;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out, visibility 0.15s step-start;
}
#win10html .mainscreen .startmenu .all{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50px;
    width: 300px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
#win10html .mainscreen .startmenu .main{
    perspective: 100px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 350px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
#win10html .mainscreen .startmenu .left{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 50px;
    overflow: hidden;
    background-color: #000;
    transition: width 0.05s linear, background-color 0.05s linear;
}
#win10html .mainscreen .startmenu .left.opened{
    background-color: #111111;
    width: 350px;
    transition: width 0.2s ease-out, background-color 0.2s ease-out;
}

#win10html .mainscreen .startmenu .left > div{
    position: absolute;
    left: 0px;
    width: 350px;
    height: 50px;
}
#win10html .mainscreen .startmenu .left > div:hover{
    background-color: #222222;
}
#win10html .mainscreen .startmenu .left > div > div.img{
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}
#win10html .mainscreen .startmenu .left > div > div.text{
    display: inline-block;
    width: 300px;
    height: 50px;
    float: left;
    font-size: 20px;
    line-height: 50px;
    margin-left: 50px;
    color: #fff;
}
#win10html .mainscreen .startmenu .all > div{
    background-color: #000;
    position: static;
    margin-top: 20px; margin-bottom: 20px;
    transition: margin-top 0.05s linear, margin-bottom 0.05s linear;
}
#win10html .mainscreen .startmenu.opened .all > div{
    margin-top: 0px; margin-bottom: 0px;
    transition: margin-top 0.15s ease-out, margin-bottom 0.15s ease-out;
}
#win10html .mainscreen .startmenu .all > div:hover{
    background-color: #222;
}
#win10html .mainscreen .startmenu .all .text{
    padding-top: 7px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
}
#win10html .mainscreen .startmenu .all .prog{
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 26px 26px;
    font-size: 15px;
    padding-left: 30px;
    color: #fff;
    line-height: 30px;
}

#win10html .mainscreen .startmenu.opened .main .prog{
    margin-top: 10px; margin-bottom: 10px;
    transition: margin-top 0.15s ease-out, margin-bottom 0.15s ease-out;
}
#win10html .mainscreen .startmenu .main .prog{
    position: static;
    float: left;
    margin: 10px;
    height: 93px;
    width: 93px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-color: #111111;
    font-size: 13px;
    display: flex;
    align-items: flex-end;
    padding: 5px;
    border: 1px solid #fff;
    color: #fff;
    transform: rotateY(0deg);
    margin-top: 30px; margin-bottom: 30px;
    transition: margin-top 0.05s linear, margin-bottom 0.05s linear;
}
#win10html .mainscreen .startmenu .main .prog:hover{
    height: 91px;
    width: 91px;
    border: 2px solid #fff;
    transform: rotateY(-1deg);
}
